<!Doctype html>
<html>
   <head>
       <meta charset="utf-8">
           <title> Newton Robert | Freelance Web Developer</title>
           <%= stylesheet_link_tag "normalize.css" %>
           <%= stylesheet_link_tag "bootstrap_and_customizaton.css.scss.erb"%>
           <%= stylesheet_link_tag "main.css"%>
           <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
           <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
           <link rel="stylesheet" href="css/normalize.css" >
           <link rel="stylesheet" href="css/main.css" >
           <link rel="stylesheet" href="css/bootstrap_and_customizaton.css.scss" >
           <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
           
        </head>
        <body>
            <header>
                <a href="home.html"  style="text-decoration:none;" id="logo"</a> 
                    <h1>Newton Robert</h1>
                    <h2> Web Designer</h2>
                    </a>
                    <nav>
                        <ul >
                            <li><a href= "/" class="selected">home</a></li>
                            <li><a href= "portfolio.html " class="selected">portfolio</a></li>
                            <li><a href= "/about " class="selected">about</a></li>
                            <li><a href= "/contact " class="selected">contact</a></li>
                            
                        </ul>
                    </nav>
                     </header>
                     <section id="home" data-type="background" data-speed="10" class="pages">    
                         <ul id="gallery">
                             <li>
                                 <a href="img/temple.jpg">
                                     <%=image_tag("temple.jpg", alt: "temple covered with ash .ontake japan")%>
                                         <p> once again i marvel at nature </p>
                                 </a>
                             </li>
                             <li>
                                 <a href="img/temple.jpg">
                                     <%=image_tag("temple.jpg", alt: "temple covered with ash .ontake japan")%>
                                         <p> once again i marvel at nature </p>
                                 </a>
                             </li>
                            
                             <li>
                                  <a href="img/eagle.jpg">
                                 <%=image_tag("eagle.jpg", alt: "eagle soaring at alakecanada.jpg")%>
                             <p>once again i marvel at art</p>
                                 </a>
                             </li>
                         
                             <li>
                                  <a href="img/kimjong.jpg">
                                 <%=image_tag("kimjong.jpg", alt: "kim jong ills birthday")%>
                             <p>once again i marvel at art</p>
                             </li>
                         
                             
                             <li>
                                 <a href="img/chosen.jpg">
                                     <%=image_tag("chosen.jpg", alt: "the chosen")%>
                                     <p>once again i marvel at nature</p>
                                 </a>
                             </li>
                             <li>
                                 <a href="img/lake natron tanzania.jpg">
                                     <%=image_tag("chosen.jpg", alt: "the chosen")%>
                                     <p>once again i marvel at nature</p>
                                 </a>
                             </li>
                         </ul>
                         @gallery goes here
                     </section>  
     
                    <section id="about" data-type="background" data-speed="10" class="pages">
                         <ul id="gallery">
                             <li>
                                 <a href="img/temple.jpg">
                                     <%=image_tag("temple.jpg", alt: "temple covered with ash .ontake japan")%>
                                         <p> once again i marvel at nature </p>
                                 </a>
                             </li>
                             <li>
                                 <a href="img/temple.jpg">
                                     <%=image_tag("temple.jpg", alt: "temple covered with ash .ontake japan")%>
                                         <p> once again i marvel at nature </p>
                                 </a>
                             </li>
                            
                             <li>
                                  <a href="img/eagle.jpg">
                                 <%=image_tag("eagle.jpg", alt: "eagle soaring at alakecanada.jpg")%>
                             <p>once again i marvel at art</p>
                                 </a>
                             </li>
                         
                             <li>
                                  <a href="img/kimjong.jpg">
                                 <%=image_tag("kimjong.jpg", alt: "kim jong ills birthday")%>
                             <p>once again i marvel at art</p>
                             </li>
                         
                             
                             <li>
                                 <a href="img/chosen.jpg">
                                     <%=image_tag("chosen.jpg", alt: "the chosen")%>
                                     <p>once again i marvel at nature</p>
                                 </a>
                             </li>
                             <li>
                                 <a href="img/lake natron tanzania.jpg">
                                     <%=image_tag("chosen.jpg", alt: "the chosen")%>
                                     <p>once again i marvel at nature</p>
                                 </a>
                             </li>
                         </ul>
                         @gallery goes here
                    </section>
                     <div id ="wrapper">
                     <section>
                         
                         </section>
                         <footer>
                            <a href="https://ke.linkedin.com/in/newton-robert-a4a7b184"><img src="assets/furrylinkedin.png" alt="follow on Linkedin"class="social-icon"></a>
                               
                           <a href="https://twitter.com/xpaterr"class="social-icon"><img src="assets/furrytwitter.png" alt="follow on twitter"class="social-icon"></a>
                               
                        <a href="https://www.facebook.com/spartanewtonrobert"><img src="assets/furryfb.png" alt="friend on facebook"class="social-icon"></a>
                             
                             <p>&copy; 2016 Newton Robert</p>
                             </footer>
                             </div>
                             </body>
                            </html>








